# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.env

# Logs
*.log

# Data files (exclude CSVs and processed data)
data/*.csv
data/processed/
data/split_dbs/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store